html{
    background-color:gainsboro;
    margin-top:20px;
}

body{
    margin-left:40px;
}

input{
    padding:4px;
}

fieldset{
    float:left;
    width:400px;
}
#errors{
    float: none;
    color:red;
    font-weight: bold;
    margin-bottom:15px;
    padding:15px;
    width:400px;
}
#success{
    float: none;
    color:green;
    font-weight: bold;
    margin-bottom:15px;
    padding:15px;
    width:400px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
}

td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

.float-right{
    float:right;
    display:inline-block;
    margin-right:30%;
}